<!DOCTYPE html>
<html>
<head>
    <title>Madlibs Game</title>
</head>
<body>
    Let's play a game.<br>
    <form action="/madlib">
        Name of a person: <input type="text" name="person"><br>
        Choose a color:
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="pink">Pink</option>
            <option value="purple">Purple</option>
            <option value="green">Green</option>
            <option value="black">Black</option>
            <option value="white">White</option>
        </select><br>
        Think of a noun: <input type="text" name="noun"><br>
        Think of an adjective: 
        <input type="checkbox" name="adj" value="crazy">Crazy
        <input type="checkbox" name="adj" value="wild">Wild
        <input type="checkbox" name="adj" value="awesome">Awesome
        <input type="checkbox" name="adj" value="fantabulous">Fantabulous
        <input type="checkbox" name="adj" value="sparkly">Sparkly
        <input type="checkbox" name="adj" value="sleepy">Sleepy
        <input type="checkbox" name="adj" value="dumb">Dumb
        <br>
        <input type="submit">
    </form>
</body>
</html>